<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.njnu.kai.divsignin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="15"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".DivSigninActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DivPreferenceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".qianglou.DivQiangLouActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask" >
        </activity>

        <receiver android:name="com.njnu.kai.divsignin.qianglou.DivQiangLouReceiver" >
            <intent-filter>
                <action android:name="com.njnu.kai.divsignin.action.qianglou.notify" />
                <action android:name="com.njnu.kai.divsignin.action.qianglou.alarm_needrandom" />
                <action android:name="com.njnu.kai.divsignin.action.qianglou.alarm_dotask" />
            </intent-filter>
        </receiver>

        <service android:name="com.njnu.kai.divsignin.DivSigninService" >

            <!--
            <intent-filter>
                <action android:name="com.njnu.kai.divsignin.service" />
            </intent-filter>
            -->
        </service>
    </application>

</manifest>